body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #12345B 0%, #2A7AD5 100%);

    font-family: "Space Grotesk", sans-serif;
    color: #FFFFFF;
}
    .navBar {
        display: flex;
        height: 8vh;
    }
        #navBarLogo {
            height: 60%;
            margin: auto auto auto 1%;
            cursor: pointer;
        }
        .navBarMenu {
            display: flex;
            height: 100%;
            align-items: center;
            gap: 50%;
            margin: auto;
        }
            .navBarMenu p {
                font-size: large;
                cursor: pointer;
            }
        .navBarSocialMedia {
            display: flex;
            height: 100%;
            width: 10%;
            align-items: center;
            margin: auto 1% auto auto;
        }
            .navBarSocialMedia img {
                margin: auto;
                height: 40%;
                cursor: pointer;
            }