/* PC */
@media screen and (max-width: 2000px) and (min-width: 1500px) {
    
}

/*MOBILE*/
@media screen and (max-width: 450px) {
    .barraLateral {
        display: none;
    }
    .menuResponsive {
        display: flex;
    }

    .portada {
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
    }

    .SkillsContent {
        grid-template-columns: 1fr 1fr;
        margin-top: 6%;
    }

    .aboutMeContent {
        margin-top: 6%;
        flex-direction: column;
        width: 80%;
    }
    .CV {
        width: 50%;
        margin: 5% auto 5% auto;
    }
    .CV div {
        margin: 0 0 0 5px;
    }
    #downloadIMG {
        width: 25%;
    }
    #map {
        margin-top: 5%;
        width: 100%;
    }

    #tituloPortada, #tituloSkills, #tituloAboutMe{
        font-size: 1.5rem;
        margin-top: 12%;
        text-align: center;
        margin: 8% auto 5% auto;
    }
}