/* PC */
@media screen and (max-width: 1500px) and (min-width: 1000px) {
    
}

/*MOBILE*/
@media screen and (max-width: 450px) {
    .barraLateral {
        display: none;
    }
    .menuResponsive {
        display: flex;
    }

    .portada {
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
    }

    #tituloPortada {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .SkillsContent {
        grid-template-columns: 1fr 1fr;
        margin-top: 6%;
    }
    #tituloSkills {
        margin-top: 12%;
        font-size: 2rem;
        text-align: center;
    }
}