*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1B24;
}

/* NAVEGACIÓN */
nav {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #1C1B24;
}
#logoNav {
    margin: auto 0 auto 1%;
}
#nombreNav {
    margin: auto 0 auto 2%;
    color: white;
    font-size: 30px;
    font-family: 'Saira', sans-serif;
}
.menuNav {
    margin: auto 5% auto auto;
    display: flex;
    width: 35%;
}
.aMenuNav {
    margin: auto 0 auto auto;
    color: #75e6da;
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    padding: 2% 5% 2% 5%;
}
.aMenuNav:hover {
    animation-name: btnNav;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes btnNav {
    0% {
        border-bottom: 2px solid #75e6da;
    }
    25% {
        border-bottom: 2px solid #75e6da;
        border-left: 2px solid #75e6da;
        border-right: 2px solid #75e6da;
    }
    50% {
        border-bottom: 2px solid #75e6da;
        border-left: 2px solid #75e6da;
        border-right: 2px solid #75e6da;
        border-top: 2px solid #75e6da;
    }
    75% {
        border-bottom: 2px solid #75e6da;
        border-left: 2px solid #75e6da;
        border-right: 2px solid #75e6da;
        border-top: 2px solid #75e6da;
    }
    100% {
        border-bottom: 2px solid #75e6da;
        border-left: 2px solid #75e6da;
        border-top: 2px solid #75e6da;
        border-right: 2px solid #75e6da;
        background-color: #75e6da;
        color: white;
    }
}

/* SUB MENU RES */
.subMenuRes {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: -0.5%;
    padding-bottom: 8%;
    background-color: white;
}
.subMenuRes a {
    margin: 1% auto 1% auto;
    color: #1C1B24;
    text-decoration: none;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
}
.showMenuRes{
    display: flex;
}

/* CONTENT GENERAL */
.contentDiv {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto 0 auto;
    padding-top: 2%;
}
.titulo {
    display: flex;
    width: 100%;
}
.linea {
    width: 30%;
    margin: auto 0 auto 0;
    height: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
}
#pTitulo {
    text-align: center;
    width: 40%; 
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3rem;
    margin: 0 auto 0 auto;
}
#lizq {
    margin: auto 0 auto auto;
}

/* PORTADA */
#portadaTitulo {
    text-align: center;
    width: 100%; 
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.5rem;
    margin: 3% auto 0 auto;
}
.itemsPortada {
    margin: 6% auto 0 auto;
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 430px;
    max-height: 275px;
    perspective: 1000px;
    transform-origin: center;
}
.items_contentPortada {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 8s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.itemPortada {
    position: absolute;
    width: 60vw;
    height: 40vw;
    max-width: 430px;
    max-height: 275px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    border-radius: 6px;
    transform-origin: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tituloPortada {
    width: 100%;
    height: 10%;
    text-align: center;
    margin: auto 0 auto 0;
    font-family: 'Rubik', sans-serif;
}
.itemPortada img {
    width: 98%;
    height: 96%;
    margin-left: 1.25%;
}
#item1Portada {
    background-color: rgb(73, 70, 241);
    transform: rotateY(0deg) translateZ(35vw)
}
#item2Portada {
    background-color: #e73636;
    transform: rotateY(120deg) translateZ(35vw)
}
#item3Portada {
    background-color: #f1e642;
    transform: rotateY(240deg) translateZ(35vw)
}
@keyframes carousel {
    0%,  17.5%  { transform: translateZ(-35vw) rotateY(0); }
	27.5%, 45%  { transform: translateZ(-35vw) rotateY(-120deg); }
	55%, 72.5%  { transform: translateZ(-35vw) rotateY(-240deg); }
	82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
}

/* SKILLS */
.contentSkills {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    height: 48vh;
    margin: auto;
    gap: 30%;
}
#skill3, #skill6 {margin-left: auto;}
#skill2, #skill5 {margin: 0 auto 0 auto;}

/* PROJECTS */
.projectsContent {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;
    margin-top: 5%;
    margin-bottom: 12%;
}
.cabeceraItem {
    display: flex;
}
#gitHub {
    margin: 1.5% 2.5% auto 2.5%;
}
#Titulo {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    width: 100%;
    padding-left: 12.5%;
    text-align: center;
    margin: auto 0 auto 0;
}
.item {
    display: flex;
    flex-direction: column;
    background-color: #42414A;
    border-radius: 6px;
    min-width: 80%;
}
.item:hover {
    box-shadow: 0px 0px 8px rgba(107, 104, 104, 0.733);
}
#aWebImage {
    margin: auto auto 0% auto;
    width: 96%;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 1%;
}
.lenguajesItem {
    display: flex;
    gap: 5%;
    width: 91.5%;
    justify-content: center;
    margin-bottom: 6px;
    font-size: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto 0 2% 5%;
    margin-top: 1%;
}
#derItem {
    margin-left: auto;
}

/* CONTACT */
.contactContent {
    display: flex;
    width: 100%;
    height: 75vh;
}
.redesContact {
    margin: auto 5% auto auto;
    width: 30%;
}
.redContact {display: flex;}
#redPrin {margin-bottom: 10%;}
#linkContact {
    text-decoration: none;
    color: white;
    margin: auto 0 auto 5%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
}
#map {
    margin: auto 5% auto auto;
    width: 30%;
    padding: 5%;
    height: 300px;
    border: 1px solid white;
    border-radius: 5px;
}