body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #040C15;
    font-family: "Space Grotesk", sans-serif;
    color: #FFFFFF;
}

.navBar {
    background: linear-gradient(135deg, #12345B 0%, #2A7AD5 100%);
}