body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #040C15;
    font-family: "Space Grotesk", sans-serif;
    color: #FFFFFF;
}

.navBar {
    background: linear-gradient(135deg, #12345B 0%, #2A7AD5 100%);
}

#navBarContact {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
    backdrop-filter: blur(5px);
}